executor {
    //$local {}  // bue 20230906: commented out because no directives

    $slurm {
        // directive bigred200: https://kb.iu.edu/d/awrz
        clusterOptions = '-A ACCOUNT --nodes=1 --cpus-per-task=8 --mail-type=fail --mail-user=ME@iu.edu'
        cpus = 48   // 48 ntasks-per-node
        memory = '16G'   // 56G
        queue = 'general'   // partition
        time = '6h'
    }
}
